{% extends 'base.html' %}

{% block content %}
 <div class="content container-fluid">
    {% if object %}

        <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Edit Students</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="students.html">Students</a></li>
                    <li class="breadcrumb-item active">Edit Students</li>
                </ul>
            </div>
        </div>
    </div>
    {% else %}

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Add Students</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="students.html">Students</a></li>
                        <li class="breadcrumb-item active">Add Students</li>
                    </ul>
                </div>
            </div>
        </div>

    {% endif %}

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Student Information</span></h5>
                                </div>
                                {% for field in form %}
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }}</label>
                                            {{ field }}
                                    </div>
                                </div>
                                {% endfor %}
                            <div class="col-12 col-sm-1">
                                {% if object %}
                                    <a href="{% url 'quizzes:details' object.id %}" class="btn btn-secondary">Annuler</a>
                                {% else %}
                                    <a href="{% url 'quizzes:etudiants' %}" class="btn btn-secondary">Annuler</a>
                                {% endif %}
                           </div>
                                <div class="col-12 col-sm-6">
                                    <button type="submit" class="btn btn-primary">Ajouter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}