{% extends 'base_customer.html' %}
{% block title %} Mes épreuves {% endblock %}
{% block content %}

{#    <section class="banner inner-page">#}
{#        <div class="banner-img"><img#}
{#                src="http://design.dev.drcsystems.ooo:8084/themeforest/academy/html/images/banner/event.jpg" alt="">#}
{#        </div>#}
{#        <div class="page-title">#}
{#            <div class="container">#}
{#                <h1>MES EPREUVES</h1>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <section class="breadcrumb ">
        <div class="container">
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Mes épreuves</a></li>
            </ul>
        </div>
    </section>
    <div class="event-page">

            <div class="container">
            <div class="section-title">
                <h2>Mes péreuves</h2>

            </div>


            <div class="row">

                {% for validation in list_validations %}
                {% for epreuve in list_epreuves %}
                    {% if validation.user == user and validation.epreuve == epreuve %}


                    <div class="col-sm-6 col-md-4">
                        <div class="event-box" style="padding-top: 20px;">

                            <div class="event-name"><a href="#">{{ epreuve.titre }}</a></div>
                            <div class="event-info"><i
                                    class="fa fa-clock-o"></i> {{ epreuve.dateCreation|date:'d-M-Y H:i' }}
                            </div>
                            <div class="event-info"><i class='fa fa-hourglass'></i>Durée
                                : {{ epreuve.duree }} minutes
                            </div>
                            <div class="event-info"><i class='fa fa-calculator'></i></i>Pondération
                                : {{ epreuve.ponderation }} pts
                            </div>
                            <p>{{ epreuve.description }}</p>
                            <p>Validation epreuve : {{ validation.epreuve }}</p>
                            <p>Validation user : {{ validation.user }}</p>
                            <p>Epreuve pk : {{ epreuve.pk }} </p>
                            <p>Epreuve id : {{ epreuve.id }} </p>
                            <div class="more-btn">
                                <a href="{% url 'quizzes:intro' epreuve.pk %}" class="btn">Afficher</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>



            <div class="pagination">
                {% if list_epreuves.has_other_pages %}
                    <ul>
                        {% if list_epreuves.has_previous %}
                            <li class="prev"><a href="?page={{ list_epreuves.previous_page_number }}"><i
                                    class="fa fa-angle-left"></i><span>Prev</span></a></li>
                        {% else %}
                            <li class="prev"><i class="fa fa-angle-left"></i><span>Prev</span></li>
                        {% endif %}
                        {% for i in list_epreuves.paginator.page_range %}
                            {% if list_epreuves.number == i %}
                                <li class="active"><a href="#">{{ i }}</a></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}

                        {% endfor %}
                        {% if list_epreuves.has_next %}
                            <li class="next"><a href="?page={{ list_epreuves.next_page_number }}"><span>Next</span><i
                                    class="fa fa-angle-right"></i></a></li>
                        {% else %}
                            <li class="next"><span>Next</span><i class="fa fa-angle-right"></i></li>
                        {% endif %}

                    </ul>
                {% endif %}

            </div>


        </div>
    </div>

{% endblock %}