{% extends 'base_customer.html' %}
{% block title %}Commencer votre épreuve{% endblock %}
{% block content %}
{#        <section class="banner inner-page">#}
{#        	<div class="banner-img"><img src="http://design.dev.drcsystems.ooo:8084/themeforest/academy/html/images/banner/quiz.jpg" alt=""></div>#}
{#            <div class="page-title">	#}
{#	            <div class="container">#}
{#                    <h1>Commencer votre épreuve</h1>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
        <section class="breadcrumb white-bg">
        	<div class="container">
            	<ul>
                	<li><a href="#">Accueil</a></li>
                    <li><a href="#">Epreuve</a></li>
                </ul>
            </div>
        </section>
        <section class="quiz-view">
        	<div class="container">
                <div class="quiz-title">
                    <h2>{{ epreuve.titre }}</h2>
                    <p>Contrôl d'acquis théorique</p>
                </div>
                <div class="row">
                	<div class="col-sm-4 col-md-3">
                    	<div class="time-info">Durée </div>
                    	<div id="countdown_stop"></div>
                        <div class="qustion-list">
                        	<div class="qustion-slide">
                            	<div class="qustion-number">Question 1</div>
                            	<span>2</span>
                            </div>
                            <div class="qustion-slide">
                            	<div class="qustion-number">Question 2</div>
                            	<span>2</span>
                            </div>
                            <div class="qustion-slide">
                            	<div class="qustion-number">Question 3</div>
                            	<span>2</span>
                            </div>
                            <div class="qustion-slide">
                            	<div class="qustion-number">Question 4</div>
                            	<span>2</span>
                            </div>
                            <div class="qustion-slide">
                            	<div class="qustion-number">Question 5</div>
                            	<span>2</span>
                            </div>
            
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-9">
                    	<div class="quiz-intro">
                        	<h3>Introduction</h3>
                            <p>{{ epreuve.description }}</p>
                            
                            <div class="start-btn">
                            	<a href="{% url 'quizzes:questions' %}" class="btn">Commencer</a>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
{% endblock %}