{% extends 'base_customer.html' %}

{% block content %}

        <section class="banner inner-page">
        	<div class="banner-img"><img src="http://design.dev.drcsystems.ooo:8084/themeforest/academy/html/images/banner/quiz.jpg" alt=""></div>
            <div class="page-title">	
	            <div class="container">
                    <h1>Epreuve</h1>
                </div>
            </div>
        </section>
        <section class="breadcrumb white-bg">
        	<div class="container">
            	<ul>
                	<li><a href="#">Accueil</a></li>
                    <li><a href="#">Epreuve</a></li>
                </ul>
            </div>
        </section>
        <section class="quiz-view">
        	<div class="container">
                <div class="quiz-title">
                    <h2>TD Algorithmique</h2>
                    <p>Contrôl d'acquis théorique</p>
                </div>
                <div class="row">
                	<div class="col-sm-4 col-md-3">
                    	<div id="countdown"></div>
                        <div class="qustion-list">
                        	<div class="qustion-slide fill">
                            	<div class="qustion-number">Question 1</div>
                            	<span>2</span>
                            </div>
                            <div class="qustion-slide fill">
                            	<div class="qustion-number">Question 2</div>
                            	<span>2</span>
                            </div>
                            <div class="qustion-slide">
                            	<div class="qustion-number">Question 3</div>
                            	<span>2</span>
                            </div>
                            <div class="qustion-slide fill">
                            	<div class="qustion-number">Question 4</div>
                            	<span>2</span>
                            </div>
                            <div class="qustion-slide active">
                            	<div class="qustion-number">Question 5</div>
                            	<span>2</span>
                            </div>
                            
                        </div>
                    </div>
                    {% for question in list_questions %}
                    <div class="col-sm-8 col-md-9">
                    	<div class="qustion-main">
                            <div class="qustion-box">
                                <div class="qustion">{{ question }}</div>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="ans">
                                	<div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">Entrez votre réponse ici</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                      </div>

                                </div>
                                <div class="save-btn">
                                	<a href="#" class="btn2">Enregistrer</a>
                                </div>
                                </form>

                                <div class="btn-slide">
                                	<a href="#" class="btn"><i class="fa fa-angle-left"></i></a>
                                    <a href="#" class="btn"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="submit-quiz">
                            	<a href="http://design.dev.drcsystems.ooo:8084/themeforest/academy/html/quiz-result.html" class="btn">Envoyez</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

{% endblock %}